
@{
    ViewBag.Title = "DaoTao";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-6">
    Đây là trang đào tạo
    
</div>
<div class="col-md-3">
    <img src="https://accgroup.vn/wp-content/uploads/2022/09/Dao-tao-la-gi.jpg" alt=""  class="img-rounded"/>
</div>

