
@{
    ViewBag.Title = "TinhDiem";
}

<h2>Kết quả</h2>

<table class="table" style="max-width: 600px;">
    <tbody>
        <tr>
            <td>Họ tên thí sinh: </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" value="@ViewBag.name">
                </div>
            </td>
        </tr>
        <tr>
            <td>Tổng điểm: </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" value="@ViewBag.score">
                </div>
            </td>
        </tr>
        <tr>
            <td>Kết quả: </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" value="@ViewBag.result">
                </div>
            </td>
        </tr>
    </tbody>
</table>

